{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
  <style>
    @media (max-width: 575.98px) {
      .facebook-access {
        display: none;
      }
    }
  </style>
{% endblock %}


{% block container %}
  <form class="form-signin" method="POST">
    {% csrf_token %}
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <p>Preencha seus dados para fazer login e ser capaz de fazer alterações</p>
    </div>

    {% include 'forms-errors.html' with form=form %}

    <div class="form-label-group">
      {% include 'forms-fields.html' with field=form.username %}
    </div>

    <div class="form-label-group">
      {% include 'forms-fields.html' with field=form.password %}
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>

    <div class="d-flex flex-row justify-content-between mt-4">
      <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary" style="width: 40%"><span class="facebook-access">Acessar com </span><i class="fab fa-facebook-square ml-1"></i></a>
      <a href="{% url 'authentication:signin' %}" class="btn btn-primary" style="width: 40%">Criar conta</a>
    </div>

  </form>
{% endblock %}