{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block container %}
    <h3>Adicione um cliente</h3>
    <form method="POST" id="id_form">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}: </label>
          {% render_field field class="form-control" %}
          {% if field.help_text %}
            <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="id_map"></div>
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/imask"></script>
  <script src="{% static 'js/client-form.js' %}"></script>
{% endblock %}