{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block container %}
  <h2>{{ operation }} um cliente</h2>
  <div class="w-100 p-3">
    <form method="POST" id="id_form" class="form-signin">
      {% csrf_token %}
      {% include 'forms-errors.html' with form=form %}

      {% for field in form %}
        <div class="form-label-group">
          {% include 'forms-fields.html' with field=field %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="d-flex justify-content-center" id="id_map"></div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/imask.js' %}"></script>
  <script src="{% static 'js/client-form.js' %}"></script>
  {% if is_edit %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
         renderMap();
      });
    </script>
  {% endif %}
{% endblock %}