{% extends 'base.html' %}

{% block container %}
  <h2 class="ml-2 mb-5">Lista de Usuarios</h2>
  <div class="list-group">
    {% for object in object_list %}
      <div class="d-flex list-group-item list-group-item-action flex-row justify-content-between">
        <div>
          <a href="{% url 'clients:detail-client' object.pk %}" class="text-dark">
            <h5 class="mb-1">{{ object.name }}</h5>
            <p class="mb-1">
              {{ object.address }}, {{ object.number }}, {{ object.city }}
            </p>
          </a>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="m-md-2">
            <a href="{% url 'clients:update-client' object.pk %}">
              <i class="fas fa-edit"></i>
            </a>
          </div>
          <div class="m-md-2">
            <a href="{% url 'clients:delete-client' object.pk %}" class="text-danger">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
