{% load static %}
<html lang="pt-br">
<head>
  <title>{% block title %}Service net Desafio{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{% static 'css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block head %}{% endblock %}
</head>
<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Service Net</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{% url 'clients:create-client' %}">Cadastrar</a>
      <a class="p-2 text-dark" href="{% url 'clients:list-client' %}">Listar</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>

  <div class="container">
    <div class="d-flex align-items-center justify-content-center w-100 p-3 flex-column">
      <div class="w-100 p-3">
        {% block container %}{% endblock %}
      </div>
    </div>
  </div>


  {% block script %}{% endblock %}

</body>
</html>